/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #1b8f43;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 256px;
  height: 100%;
  background: var(--green);
  border-left: 10px solid var(--green);
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 80px;
}

.navigation .UL .title {
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #ffffff;
  margin-top: 44px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--green);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation .tel {
  margin-top: 50px;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}


/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--green);
}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}

.cardBox .card:hover {
  background: var(--green);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}

/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.details .recentOrders {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--green);
}
.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--green);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td {
  font-weight: 600;
}
.details .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child {
  border-bottom: none;
}
.details .recentOrders table tbody tr:hover {
  background: var(--green);
  color: var(--white);
}
.details .recentOrders table tr td {
  padding: 10px;
}
.details .recentOrders table tr td:last-child {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}
.status.delivered {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pending {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.return {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.inProgress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recentCustomers table tr td {
  padding: 12px 10px;
}
.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}
.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}
.recentCustomers table tr:hover {
  background: var(--green);
  color: var(--white);
}
.recentCustomers table tr:hover td h4 span {
  color: var(--white);
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }

  .content-container{
    width: 100%;
    left: 0;
  }

  .content-container.active{
    left: 300px;
  }


  .content-sidebar{
    width: 100%;
    left: 0;
  }

  .content-sidebar.active{
    left: 300px;
  }

  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}




/* start: Globals */
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--slate-700);
}
/* end: Globals */



/* start: Chat */

.chat-container {
  max-width: 1360px;
  width: 100%;
  height: 720px;
  box-shadow: 0 8px -4px rgba(0, 0, 0, .1);
  background-color: var(--white);
  position: relative;
}
/* end: Chat */


/* start: Content side */

.aside .chat-sidebar{
  display: none;
}

.chat-content {
  padding-left: 64px;
  height: 100%;
  position: relative;
}
.content-sidebar {
  
  height: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -40px;
}
.content-sidebar-title {
  font-size: 20px;
  font-weight: 600;
  padding: 16px;
}
.content-sidebar-form {
  position: relative;
  padding: 0 16px;
}
.content-sidebar-input {
  padding: 8px 16px;
  background-color: var(--slate-100);
  border: 1px solid var(--slate-300);
  outline: none;
  width: 100%;
  border-radius: 4px;
  padding-right: 32px;
  font-size: 14px;
}
.content-sidebar-input:focus {
  border-color: var(--slate-400);
}
.content-sidebar-submit {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 32px;
  color: var(--slate-400);
  background-color: transparent;
  outline: transparent;
  border: none;
  cursor: pointer;
  transition: color .15s ease-in-out;
}
.content-sidebar-submit:hover {
  color: var(--slate-600);
}
.content-messages {
  overflow-y: auto;
  height: 100%;
  margin-top: 16px;
}
.content-messages-list {
  list-style-type: none;
  padding: 8px 0;
}
.content-messages-list > * > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--slate-700);
  padding: 6px 16px;
}
.content-messages-list > * > a:hover {
  background-color: var(--slate-50);
}
.content-messages-list > .active > a {
  background-color: var(--slate-100);
}
.content-message-title {
  margin-left: 16px;
  margin-right: 16px;
  color: var(--slate-400);
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 2px;
  position: relative;
}
.content-message-title > * {
  position: relative;
  z-index: 1;
  padding: 0 4px 0 0;
  background-color: var(--white);
}
.content-message-title::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px solid var(--slate-300);
  z-index: 0;
}
.content-message-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  margin-right: 12px;
}
.content-message-info {
  display: grid;
  margin-right: 12px;
  width: 100%;
}
.content-message-name {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 2px;
}
.content-message-text {
  font-size: 13px;
  color: var(--slate-400);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.content-message-more {
  text-align: right;
}
.content-message-unread {
  font-size: 12px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--emerald-500);
  padding: 2px 4px;
  border-radius: 4px;
}
.content-message-time {
  font-size: 12px;
  color: var(--slate-400);
  font-weight: 500;
}
/* end: Content side */



/* start: Conversation */
.conversation {
  background-color: var(--slate-100);
  height: 100%;
  padding-left: 256px;
  display: none;
}
.conversation.active {
  display: flex;
  flex-direction: column;
}
.conversation-top {
  padding: 8px 16px;
  background-color: var(--white);
  display: flex;
  align-items: center;
}
.conversation-back {
  background-color: transparent;
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  color: var(--slate-400);
  margin-right: 12px;
  display: none;
}
.conversation-back:hover {
  background-color: var(--slate-100);
  border-radius: 50%;
  color: var(--slate-600);
}
.conversation-back:active {
  background-color: var(--slate-200);
}
.conversation-user {
  display: flex;
  align-items: center;
}
.conversation-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}
.conversation-user-name {
  font-weight: 500;
  font-size: 17px;
}
.conversation-user-status {
  color: var(--slate-400);
  font-size: 13px;
}
.conversation-user-status::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--slate-300);
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  margin-right: 4px;
}
.conversation-user-status.online::before {
  background-color: var(--emerald-500);
}
.conversation-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.conversation-buttons > * {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  outline: transparent;
  cursor: pointer;
  color: var(--slate-600);
  margin-left: 4px;
}
.conversation-buttons > :hover {
  background-color: var(--slate-100);
  color: var(--slate-700);
}
.conversation-buttons > :active {
  background-color: var(--slate-200);
}

.conversation-main {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding: 16px;
}
.conversation-wrapper {
  list-style-type: none;
}
.conversation-item {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  margin-bottom: 16px;
}
.conversation-item.me {
  flex-direction: row;
}
.conversation-item-side {
  margin-left: 8px;
}
.conversation-item.me .conversation-item-side {
  margin-right: 8px;
}
.conversation-item-image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
.conversation-item-content {
  width: 100%;
}
.conversation-item-wrapper:not(:last-child) {
  margin-bottom: 8px;
}
.conversation-item-box {
  max-width: 720px;
  position: relative;
  margin-left: auto;
}
.conversation-item.me .conversation-item-box {
  margin-left: unset;
}
.conversation-item-text {
  padding: 12px 16px 8px;
  background-color: var(--white);
  box-shadow: 0 2px 12px -2px rgba(0, 0, 0, .1);
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  margin-left: 32px;
}
.conversation-item.me .conversation-item-text {
  margin-left: unset;
  margin-right: 32px;
}
.conversation-item.me .conversation-item-text {
  background-color: var(--emerald-500);
  box-shadow: 0 2px 12px -2px var(--emerald-500);
  color: rgba(255, 255, 255, .8);
}
.conversation-item-time {
  font-size: 10px;
  color: var(--slate-400);
  display: block;
  text-align: right;
  margin-top: 4px;
  line-height: 1;
}
.conversation-item.me .conversation-item-time {
  color: rgba(255, 255, 255, .7);
}
.conversation-item-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .15s ease-in-out;
}
.conversation-item.me .conversation-item-dropdown {
  left: unset;
  right: 0;
}
.conversation-item-wrapper:hover .conversation-item-dropdown {
  opacity: 1;
  visibility: visible;
}
.conversation-item-dropdown-toggle {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--white);
  outline: transparent;
  border: 1px solid var(--slate-200);
  cursor: pointer;
  transition: all .15s ease-in-out;
}
.conversation-item-dropdown-toggle:hover {
  background-color: var(--emerald-500);
  color: var(--white);
  box-shadow: 0 2px 12px -2px var(--emerald-500);
}
.conversation-item-dropdown-toggle:active {
  background-color: var(--emerald-600);
}
.conversation-item-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--white);
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
  border-radius: 4px;
  padding: 4px 0;
  list-style-type: none;
  opacity: 0;
  visibility: hidden;
  transform: scale(.9);
  transform-origin: left top;
  transition: all .15s ease-in-out;
}
.conversation-item.me .conversation-item-dropdown-list {
  left: unset;
  right: 0;
}
.conversation-item-dropdown.active .conversation-item-dropdown-list {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.conversation-item-dropdown-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--slate-400);
  font-size: 13px;
  padding: 6px 12px;
}
.conversation-item-dropdown-list a:hover {
  background-color: var(--slate-100);
  color: var(--slate-600);
}
.conversation-item-dropdown-list a:active {
  background-color: var(--slate-200);
}
.conversation-item-dropdown-list a i {
  font-size: 16px;
  margin-right: 8px;
}
.coversation-divider {
  text-align: center;
  font-size: 13px;
  color: var(--slate-400);
  margin-bottom: 16px;
  position: relative;
}
.coversation-divider::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px solid var(--slate-300);
}
.coversation-divider span {
  display: inline-block;
  padding: 0 8px;
  background-color: var(--slate-100);
  position: relative;
  z-index: 1;
}

.conversation-form {
  padding: 8px 16px;
  background-color: var(--white);
  display: flex;
  align-items: flex-end;
}
.conversation-form-group {
  width: 100%;
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
}
.conversation-form-input {
  background-color: var(--slate-100);
  border: 1px solid var(--slate-300);
  border-radius: 4px;
  outline: transparent;
  padding: 10px 32px 10px 16px;
  font: inherit;
  font-size: 14px;
  resize: none;
  width: 100%;
  display: block;
  line-height: 1.5;
  max-height: calc(20px + ((14px * 2) * 6));
}
.conversation-form-input:focus {
  border-color: var(--slate-400);
}
.conversation-form-record {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 20px;
  color: var(--slate-400);
  background-color: transparent;
  border: none;
  outline: transparent;
  cursor: pointer;
}
.conversation-form-record:hover {
  color: var(--slate-600);
}
.conversation-form-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  outline: transparent;
  font-size: 20px;
  color: var(--slate-400);
  cursor: pointer;
  flex-shrink: 0;
}
.conversation-form-button:hover {
  background-color: var(--slate-100);
  color: var(--slate-600);
}
.conversation-form-button:active {
  background-color: var(--slate-200);
  color: var(--slate-600);
}
.conversation-form-submit {
  background-color: var(--emerald-500);
  box-shadow: 0 2px 8px -2px var(--emerald-500);
  color: var(--white);
}
.conversation-form-submit:hover {
  background-color: var(--emerald-600);
  color: var(--white);
}
.conversation-form-submit:active {
  background-color: var(--emerald-700);
  color: var(--white);
}
.conversation-default {
  align-items: center;
  justify-content: center;
  padding: 16px;
  padding-left: calc(256px + 16px);
  color: var(--slate-400);
}
.conversation-default i {
  font-size: 32px;
}
.conversation-default p {
  margin-top: 16px;
}
/* end: Conversation */



/* start: Breakpoints */
@media screen and (max-width: 1600px) {
  .chat-container {
      max-width: unset;
      height: 100vh;
  }
}

@media screen and (max-width: 993px) {
  .chat-sidebar {
      top: unset;
      bottom: 0;
      width: 1%;
      height: 0;
  }

  .chat-sidebar-profile {
    margin-top: 0;
    display: none;
    align-items: center;
  }

  .chat-sidebar-logo {
      display: none;
  }
  .chat-sidebar-menu {
      flex-direction: row;
      padding: 0;
  }
  .chat-sidebar-menu > *,
  .chat-sidebar-menu > * > a {
      width: 100%;
      height: 100%;
  }
  .chat-sidebar-menu > * > a {
      padding: 8px;
  }
  .chat-sidebar-menu > .active > a {
      box-shadow: inset 0 4px 0 0 var(--emerald-500);
  }
  
  .chat-sidebar-profile-toggle {
      width: 32px;
      height: 32px;
  }
  .chat-sidebar-profile-dropdown {
      left: unset;
      right: 16px;
  }

  .conversation,
  .chat-content {
      padding-left: unset;
  }
  .content-sidebar {
      left: unset;
      z-index: 10;
      width: 100%;
  }
  .chat-sidebar-menu > * > a::before {
      left: 50%;
      transform: translateX(-50%);
      bottom: 100%;
      top: unset;
  }
  .chat-sidebar-menu > * > a:hover::before {
      bottom: calc(100% + 8px);
      left: 50%;
  }

  .chat-content {
      position: relative;
      height: calc(100% - 48px);
  }
  .conversation.active {
      position: relative;
      z-index: 20;
  }
  .conversation-back {
      display: flex;
  }
  .conversation-default.active {
      display: none;
      padding: 16px;
  }
}
/* end: Breakpoints */